# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Данные
raw_data/
*.json
*.csv
*.parquet

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
data/
